body{
    background-color: #f8f8f8;
}
.menu{
    list-style: none;
}
a{
    font-size: 20px;
    color: darkslateblue;
    text-decoration: none;
    font-style: normal;
}
.formatlist{
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
    list-style-image: url("./Store img/bike1616.png");
}
.trek{
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}
.opisanie{
    color: #707070;
    font-size: 14px;
    font-style: italic;
    text-align: left;
}
h1{
    color: darkgray;
}
.inp{
    width: 300px;
    height: 30px;
    font-size: 20px;
}
.inp::placeholder{
    color: darkolivegreen;
}
.imgbike{
    border: 3px rebeccapurple solid;
}
.btn{
    width: 150px;
    height: 25px;
    border-radius: 20px;
}
.center{
    text-align: center;
}
.myroominter{
    font-weight: 800;
}