body{
    background-color: #f8f8f8;
}
.header{
    background-color: antiquewhite;
}
.logomain{
    display: inline-block;
    margin:  0 160px 0 0;
}
.headone{
    display: inline-block;
}
.headone:hover{
    color: black;
}
.menu{
    list-style: none;
}
.link:hover{
    color: purple;
}
a{
    font-size: 20px;
    color: darkslateblue;
    text-decoration: none;
    font-style: normal;
}
.formatlist{
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
    list-style-image: url("./Store img/bike1616.png");
}
.trek{
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}
.opisanie{
    color: #707070;
    font-size: 14px;
    font-style: italic;
    text-align: left;
}
h1{
    color: darkgray;
}
.inp{
    width: 300px;
    height: 30px;
    font-size: 20px;
}
.mail:focus{
   background-color: silver;
    color: red;
}
.inp::placeholder{
    color: darkolivegreen;
}
.imgbike{
    border: 3px rgb(102, 51, 153) solid;
}
.imgbike:hover{
    border: 3px solid rgb(102, 51, 153, 0.0);
}
.btn{
    width: 150px;
    height: 25px;
    border-radius: 20px;
}
.center{
    text-align: center;
}
.myroominter{
    font-weight: 800;
}
hr{
    background-color: black;
    height: 2px;
    width: 600px;
}
.footer{
    text-align: center;
    background-color: antiquewhite;
}
.littlebig{
text-transform: capitalize;
}
table{
    border: black 2px solid;
    border-collapse: collapse;
}
td, tr, th{
    border: black 1px solid;
    padding: 3px;
}
.col1{
    background-color: aliceblue;
}
.col2{
    background-color: aquamarine;
}
caption{
    color: darkslategray;
}