@import url('http://fonts.cdnfonts.com/css/noe-display');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:wght@300&display=swap');

$white: #FFFFFF;
$turquoise: #41EAD4;
$backgroundcolor1: #00C9E0;
$backgroundcolor2: #011627;
$backgroundcolor3: #02223B;
$fontfamily1: Noe Display;
$fontfamily2: Roboto Mono;
$fontfamily3: Playfair Display;


@mixin display-fd-c-jc-sb(){
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
@mixin display-jc-sb(){
  display:flex;
  justify-content: space-between;
}


*{
  //Подкючение ограничения контейнеров для разных браузеров
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
//----------------------------------------------------------------------------------------------------------------------
.header{
  background-image: url("../img/Hero image.png");
  width: 100%;
  min-height: 1194px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 83px;
  background-position: center;
  position: relative;
}

.bgimg{
  background-image: url("../img/Gradient transition.png");
  position: absolute;
  width: 100%;
  bottom: 0;
}

.headernavigation{
  max-width: 1310px;
  margin: 0 auto;
  @include display-jc-sb();

  &__logo{
    text-decoration: none;
    color: $white;
    width: 60px;
    height: 68px;
    font-family: $fontfamily3;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 190%;
    /* or 68px */
    span{
      color: $turquoise;
    }
  }
    .search{
      @include display-jc-sb();
      align-items: center;
      width: 218px;
      height: 62px;
      &__find{
        &_mode{
          width: 21px;
          height: 21px;
        }
      }
      &__menu{
        background-color: $backgroundcolor1;
        border: none;
        box-shadow: 5px 15px 40px rgba(0, 201, 224, 0.2);
        border-radius: 48px;
        width: 167px;
        height: 62px;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;
        /* identical to box height */
        letter-spacing: 0.1em;
        text-transform: uppercase;
        font-family: $fontfamily2;
        color: $white;
        position: relative;
        &:active{
          top: 1px;
          left: 1px;
        }
        .search__line{
          width: 30px;
          height: 2px;
          border-radius: 16px;
          background-color: $white;
          position: absolute;
          top: 30px;
          right: -15px;
        }
      }
    }
}

.headertext{
  max-width: 643px;
  min-height: 320px;
  margin: 156px auto 0 auto;
  @include display-fd-c-jc-sb();
  text-align: center;

  &__MT{
    width: 643px;
    height: 153px;
    font-style: normal;
    font-weight: bold;
    font-size: 120px;
    line-height: 153px;
    letter-spacing: -0.02em;
    color: $white;
  }
  &__ST{
    width: 643px;
    height: 24px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height */
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $white;
  }
  &__LT{
    width: 643px;
    height: 79px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    /* or 25px */
    text-align: center;
    color: $white;
}
}

.allsocial{
  max-width: 1411px;
  height: 377px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social{
  width: 155px;
  height: 28px;
  transform: rotate(270deg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__line{
    width: 80px;
    height: 2px;
    border-radius: 16px;
    background-color: $turquoise;
  }
  &__scroll{
    width: 60px;
    height: 28px;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 190%;
    /* or 28px */
    letter-spacing: 0.05em;
    color: $white;
    font-family: $fontfamily2;
    transform: rotate(0deg);
  }
}

.socialweb{
  width: 109px;
  height: 22px;
  margin-left: 10px;
  transform: rotate(90deg);
  display: flex;
  justify-content: space-between;
&__bird{
  width: 22px;
  height: 18px;
  transform: rotate(270deg);
}
  &__instagram{
    width: 20px;
    height: 20px;
    transform: rotate(270deg);
  }
  &__facebook{
    width: 11px;
    height: 20px;
    transform: rotate(270deg);
  }
}
